.container-clock {
    margin: 0 auto;
    text-align: center;
}  
.clock-wrapper {
    background-color: #fafafa;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 3px 6px black;
    border-radius: 20px;
}

.clock-wrapper h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}
  
.clock-wrapper h3 {
    text-align: center;
    color: black;
}
  
.controls-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
  
.controls-wrapper button {
    font-size: 2rem;
    display: block;
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
}
  
.timeset-wrapper {
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
  
.timeset-wrapper .control {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.timeset-wrapper .control h2 {
    font-weight: 400;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
}

.timeset-wrapper .control h3 {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    color: black;
}
  
.timeset-wrapper .control button {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 2rem;
    font-weight: 700;
}