@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@600&display=swap');

$styleFont: 'Open Sans', sans-serif;
$bodyFont: 'Montserrat', sans-serif;

// Blue color palette

$firstBlue: #b3e5fc;
$secondBlue: #01579b;
$thirdBlue: #023E8A;